@{
    ViewData["Title"] = "Proyectos";
}

<section class="page-banner small-banner">
    <div class="container">
        <span class="eyebrow">Proyectos</span>
        <h1>Inspiración para cocinas, baños y espacios personalizados</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="gallery-grid">
            <div class="gallery-item">
                <img src="~/images/proyecto-cocina-negra-01.png" alt="Cocina moderna con sobres negros" />
            </div>
            <div class="gallery-item">
                <img src="~/images/proyecto-cocina-negra-02.png" alt="Detalle de cocina negra moderna" />
            </div>
            <div class="gallery-item">
                <img src="~/images/proyecto-cocina-negra-03.png" alt="Cocina negra con refrigeradora y sobres en piedra" />
            </div>
            <div class="gallery-item">
                <img src="~/images/proyecto-cocina-isla-gris.png" alt="Cocina con isla gris moderna" />
            </div>
            <div class="gallery-item">
                <img src="~/images/proyecto-cocina-blanca-marmol.png" alt="Cocina blanca con acabado tipo mármol" />
            </div>
            <div class="gallery-item">
                <img src="~/images/proyecto-escalera-granito-negro.jpg" alt="Escalera en granito negro" />
            </div>
            <div class="gallery-item">
                <img src="~/images/proyecto-lavamanos-comercial.png" alt="Lavamanos comercial de gran formato" />
            </div>
            <div class="gallery-item">
                <img src="~/images/proyecto-bano-lavamanos-blanco.png" alt="Lavamanos pequeño blanco" />
            </div>
            <div class="gallery-item">
                <img src="~/images/proyecto-isla-bbq-negra.png" alt="Isla negra con área de parrilla" />
            </div>
            <div class="gallery-item">
                <img src="~/images/detalle-granito-negro-vetas-doradas.png" alt="Detalle de granito negro con vetas doradas" />
            </div>
        </div>
    </div>
</section>